# Prisma database connection
DATABASE_URL="sqlserver://localhost:1433;database=studycat;user=sa;password=studycatPassword123!;encrypt=true;trustServerCertificate=true"

# For switching between simple and Shibboleth login 
AUTH_MODE=simple
ENABLE_MOCK_SHIBBOLETH=true

# Generic until SP is finalized
SHIBBOLETH_SP_URL=https://sp.studycat.local
SHIBBOLETH_LOGIN_URL=https://sp.studycat.local/Shibboleth.sso/Login
SHIBBOLETH_LOGOUT_URL=https://sp.studycat.local/Shibboleth.sso/Logout
